.movies {
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
}

.movies a {
    padding: 0;
    margin: 20px;
    width: fit-content;
}


.movies img {
    border-radius: 10px;
    transition: 0.3s;
}

.movies img:hover {
    border-radius: 30px;
    transform: scale(1.2);
}

.searchInput {
    width: 500px;
    max-width: 70%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: wheat;
}

.searchButton, .applyLanguageButton {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(231, 198, 137);
}

.applyLanguageButton {
    background-color: #d19c3a !important;
}

.searchForm, .languageForm {
    text-align: center;
}

.languageForm {
    margin-top: 20px;
}

.languageSelector {
    background-color: #ccaa6b;
    border: none;
    border-radius: 10px;
    padding: 10px;

}

@media only screen and (max-width: 600px) {
    .movies {
        margin-left: 0;
    }
}