.movies {
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
}

.movies a {
    padding: 0;
    margin: 20px;
    width: fit-content;
}


.movies img {
    border-radius: 10px;
    transition: 0.3s;
}

.movies img:hover {
    border-radius: 30px;
    transform: scale(1.2);
}

.searchInput {
    width: 500px;
    max-width: 70%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: wheat;
}

.searchButton, .applyLanguageButton {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(231, 198, 137);
}

.submitNewButton {
    position: absolute;
    top: 30px;
    border: none;
    border-radius: 10px;
    background-color: rgb(231, 198, 137);
    padding: 10px;

    cursor: pointer;
}

.submitNewButton::before {
    content: "Submit New Movie";
}

.applyLanguageButton {
    background-color: #d19c3a !important;
}

.searchForm, .languageForm {
    text-align: center;
}

.languageForm {
    margin-top: 20px;
}

.languageSelector {
    background-color: #ccaa6b;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
}

@media only screen and (max-width: 600px) {
    .movies {
        margin-left: 0;
    }

    .submitNewButton {    
        position: fixed;
        top: auto;
        bottom: 20px;
        right: 20px;
        width: 56px;
        height: 56px;
        color: rgb(0, 0, 0);
        border-radius: 50%;
        text-align: center;
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
        cursor: pointer;
    
        line-height: 50px;
        font-weight: bolder;
        font-size: 24px;
    }

    .submitNewButton:before {
        content: '+';
    }
}