h2 {
    text-align: center;
}

.newMovieForm {
    max-width: 400px;
    margin: 10vh auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.tmdbUrlInput, .magnetInput, .languageSelector, .submitButton {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.tmdbUrlInput:focus,
.magnetInput:focus,
.languageSelector:focus,
.submitButton:focus {
    outline: none;
}

.tmdbUrlInput::placeholder,
.magnetInput::placeholder {
    color: #999;
}

.languageSelector {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

.submitButton {
    background-color: #e50914;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #ff0a16;
}
