<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch them all !</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <header>
        <h1>Watch them all !!</b></h1>
        <form action="changeLanguage" method="get">
            <select name="languageCode">
            {% for language in languages %}
                {% if languageCode == language[0]: %}
                    <option selected value="{{ language[0] }}">{{ language[1] }}</option>
                {% else %}
                    <option value="{{ language[0] }}">{{ language[1] }}</option>
                {% endif %}
            {% endfor %}
            </select>
            <button type="submit">Apply</button>
        </form>
    </header>
    <div class="movies">
    {% for i in range(moviesDataLength) %}
        <a href="movie/{{i}}">
            <img width="150" height="225" src="{{moviesData[i].image_url}}" alt="">
        </a>
    {% endfor %}
    </div>
</body>
</html>